*{
  margin: 0;
  padding: 0;
  color:white;
}
.sedans{
    
    background-color:rgb(209, 143, 63);
    height:50vh;
    width: 15vw;
    padding:50px;
    border-radius: 10px 0 0 10px;
}
.suvs{
    
    background-color: rgb(16, 108, 111); 
    height:50vh;
    width:15vw;
    padding:50px;
}
.luxury{
    
    background-color: rgb(3, 51, 56);
    height: 50vh;
    width:15vw;
    padding:50px;
    border-radius: 0 10px 10px 0;
}
.background{
    display: flex;
    margin: 100px;
    margin-left: 150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.button{
    border-radius: 30px;
    padding:8px 13px;
}
@media only screen and(max-width: 768px){
    background{
    width: 100%;
    }
}